<body id="bg3">
  <div class="well profile description">
<% provide(:title, 'About') %>
<h1>DeepChats: A chat application for deep conversation</h1>
<h4>Made by Sam Mershon with:</h4>
<ul id="tech">
  <li><a href="https://www.ruby-lang.org/">Ruby 2.3</a></li>
  <li><a href="http://rubyonrails.org/">Rails 5.0</a></li>
  <li><a href="http://www.postgresql.org/">PostgreSQL 9.5</a></li>
  <li><a href="http://getbootstrap.com/">Twitter Bootstrap 3.3</a></li>
  <li><a href="http://sass-lang.com/">SASS 3.4</a></li>
  <li><a href="http://redis.io/">Redis 3.2</a></li>
  <li><a href="https://www.poetryfoundation.org/love-poems">And lots of love 💖</a></li>
</ul>
</div>
</body>
