<div class="card">
  <div class="card-block">
        <p class="card-text">
          <strong class="username"><%= message.user.username %>:</strong>
          <%= message.body %>
          <!--at <%= message.timestamp %> <br />-->
        </p>
  </div>
</div>
