<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-11">
        <p class="card-text">
          <strong><%= message.user.username %></strong> says:
          <%= message.body %>
          <!--at <%= message.timestamp %> <br />-->
        </p>
      </div>
    </div>

  </div>
</div>
