<body id="bg5">
    <div class="well chat-index">
        <h1 class="new-title">
            <strong>Let's have a chat</strong>
        </h1>
        <p class="lead"><%= link_to 'Create a new DeepChat', new_chat_room_path, class: 'btn btn-primary' %></p>
    </div>

    <div>
        <%= render @chat_rooms %>
    </div>

</body>
