<body id="bg2">
<div class="well">
<div>
<h1>Let's have a chat</h1>

<p class="lead"><%= link_to 'Create a new DeepChat', new_chat_room_path, class: 'btn btn-primary' %></p>

<ul>
  <%= render @chat_rooms %>
</ul>
</div>
</div>
</body>
