<body id="bg3">
  <div class="well profile description">
    <h1 class="user-list">User List</h1>
    <h3 class="user-list">Meet your fellow philosophers!</h3>
  </div>
  <br/>
  <div id="users">
    <% @users.each do |user| %>
      <div class="well" id="user">
        <li>
          <strong><%= user.username %></strong>
          <%= link_to '- View Profile', user_path(user.username) %>
        </li>
      </div>
      <br/>
  </div>
    <% end %>
</body>
