.navbar-nav .nav-item span {
  display: block;
  padding: 0 10px;
  color: white;
}

.navbar {
  background-color: #381544;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 22px;
}

.navbar-brand {
  font-size: 30px;
}

.left-nav-items {
  font-size: 22px;
  padding-top: 12px;
}

.lead {
  text-align: center;
  text-decoration: none;
}

#title {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 80px;
}

#sub {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 30px;
}

#chat-container {
  margin-top: 55px;
}

.card {
  background-color: lightgrey;
  height: 75px;
}

/*.card-text {
  padding-left: 5px;
}*/

.question {
  display: inline;
}

#question-container {
  margin-bottom: 15px;
}

.btn {
  background-color: #3e174c;
  color: white;
  border: none;
}

h1 {
  margin-top: 24px;
  margin-bottom: 24px;
  //font-size: 80px;
}

#messages {
  max-height: 375px;
  overflow-y: auto;
  .avatar {
    margin: 20px;
  }
}

footer {
  position: static;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}

#title {
  margin-top: 80px;
  text-align: center;
  color: black;
}

#enter-chat {
  width: 575px;
  margin: 0 auto;
}

#new {
  width: 350px;
  margin-right: 300px;
}

.new-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Averia Serif Libre', cursive;
}

#register-info {
  text-align: center;
}

#sub {
  text-align: center;
  color: black;
}

.jumbotron {
  margin-top: 65px;
  padding: 35px;
  background: rgba(211, 211, 211, .9);
}

#bg2 {
  background-image: url('library.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg3 {
  background-image: url('books.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg4 {
  background-image: url('stars.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg5 {
  background-image: url('table.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg6 {
  background-image: url('bulbs.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.userProf {
  font-size: 35px;
}

.user-list {
  text-align: center;
}

.profileInfo {
  font-size: 21px;
}

#homeBtns {
  display: flex;
}

#authBtns {
  margin-left: 370px;
  padding: 28px 0;
  color: inherit;
}

.unauth {
  margin: 15px;
}

.chatIndex {
  font-size: 25px;
  font-family: 'Averia Serif Libre', cursive;
}

.well {
  border-radius: 10px;
  padding: 15px;
  background: rgba(211, 211, 211, .8);
}

.profile {
  margin-top: 55px;
  margin-bottom: 20px;
  padding: 55px 80px 30px 80px;
}

.description {
  text-align: center;
  font-family: 'Averia Serif Libre', cursive;
}
.chat-index {
  background: rgba(211, 211, 211, .8);
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 10px;
  width: 800px;
  margin-top: 40px;
  font-family: 'Averia Serif Libre', cursive;
}

.chat-single {
  margin-top: 10px;
}

.room {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.profileBtns {
  width: 450px;
  margin: 0 auto;
}

.prof {
  margin: 15px;
}

.food {
  font-family: 'Averia Serif Libre', cursive;
  height: 110px;
  margin-top: 65px;
  padding-left: 20px;
  padding-right: 15px;
}

 #thought {
  padding-left: 80px;
}

.btn-xlarge {
  padding: 18px 28px;
  font-size: 20px; //change this to your desired size
  line-height: normal;
  border-radius: 8px;
}

#user {
  background: rgba(211, 211, 211, .8);
  font-size: 25px;
  vertical-align: middle;
  text-align: left;
  width: 425px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#users {
  text-align: center;
}
